/* .Navbar {
  text-align: center;
  background-image: url(./Image/pattern-background-desktop.svg);
  background-color: rgb(221, 237, 250);
  background-repeat: no-repeat;
  padding: 50px 405px;
} */
